
 { transition: all .1s ease-in-out;
padding: 2px 4px;
border-radius: 4px;
}

.ton:hover { 
    transform: scale(1.05); 
}

#wrapper {
    display: grid;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: whitesmoke;
    height: 95vh;
    margin: 0 auto;
    zoom: 100%;
    grid-template-columns: 3fr 3fr 3fr;
    grid-template-rows: 0.75fr 0.2fr 2fr;
    grid-column-gap: 4px;
    grid-row-gap: 4px;
    grid-template-areas:
    'hd hd hd'
    'nav nav nav'
    'mn mn mn'
}

header {
    grid-area: hd;
    background: rgb(9, 31, 57);
}


footer {
    grid-area: mn;
    background: rgb(116, 173, 202);
}

nav {
    grid-area: nav;
    background: rgb(96, 199, 191);
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: space-evenly;
}
